<html lang="en">
<head>
  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap" rel="stylesheet">
  <!--Font-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register-Form</title>
  <link rel="stylesheet" href="../css/Login.css" />
</head>
<body>
  <div class="main">
    <h2>Login</h2>
    <hr>
    <br>
    <input type="text","email" class="text" , "email" placeholder="Username Or Email" required>
    <input type="password" class="pass1" placeholder="Password"required>
 
    <a href="/LandingLogged">
      <button class="btn">Submit</button>
      <br>
    </a>
    <a href="/RegisterAndLogin">
        <button class="btn">Register</button>
        <br>
      </a>
      <a href="/Landing">
        <button class="btn">mainpage</button>
        <br>
      </a>
      
    <div class="i">
      <p>Login With:</p>
      <br>
      <a href="/LoginGoogle">
    <button><i class="fa fa-google"></i> Google</button>
    </div>
  </div>
</body>
</html>

